*
{
margin:0;
padding:0;
}

.logo
{
  color:white;
  padding-left:5px;
  font-weight:900;
  font-size:15px;
}

li
{
  display:inline-block;
  list-style-type:none;
}

li a
{
  color:white;
  padding-right:5px;
  
}

li a:hover 
{
  color:pink;
}

header
{
display:flex;
flex-direction:row;
direction:none;
background-color:#ad1313;
height:70px;
display:flex;
align-items:center;
justify-content: space-between;
}

body
{
  height:100px;
  width
background-color:#ad1313;

}

#hero
{
color:#ad1313;
}

h1
{
padding-top:50px;
padding-left:5px;
color:#ad1313;
font-size:30px;
font-family:Georgia;
font-weight:600;
}

.scoop
{
  color:#ad1313;
  padding-left:5px;
}


.button-
{
  height:50px;
  padding-right:20px;
  padding-left:20px;
  border-radius:10px;
  margin-left:5px;
  margin-top:5px;
  border:none;
}

.img11
{
height:300px;
margin-top:20px;
margin-right:0px;
display:block;
width:100%;
}

h3
{
color:white;
font-size:15px;
text-align:center;
padding-bottom:15px;

}

p
{
color:white;
font-size:15px;
font-variant:Arial;
font-style:italic;
background-image:cover;
}

.para-bg
{
  background-color:#ad1313;
  background-color:cover;
  height:350px;
  margin-top:15px;
  padding-top:50px;
  padding-bottom:25px;
  padding-left:10px;
  
}

h2
{
  color:white;
  margin-top:40px;
  text-align:center;
  height:50px;
  background-color:#ad1313;
  padding-top:20px;
  width:200px;
}

img
{
  height:200px;
  position:center;
  
}

.product1 
{
    background: pink;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 15px;
}

h2
{
  color:white;
  margin-top:
}


button
{
  color:white;
  background-color:#ad1313;
  padding:10px 10px;
  margin-top:5px;
  border:none;
}

.products
{
  background-color:white;
  padding-top:50px;
  padding-bottom:5px;
}

footer
{
  height:100px;
  background-color:#ad1313;
  
}

.footer
{
  padding-top:5px;
  padding-bottom:5px;
}

@media (max-width: 768px) {
    .hero, .delivery {
        flex-direction: column;
        text-align: center;
    }